back-end/defaults/flow.json
[{"id":"747c31af.8b83d","type":"function","z":"4599750e.ba668c","name":"SetupPayload","func":"payloadstring=\"library%28ibmdbR%29%0D%0Alibrary%28rpart.plot%29%0D%0A%0D%0Amycon+%3C-+idaConnect%28%22BLUDB%22%2C+%22%22%2C%22%22%29%0D%0AidaInit%28mycon%29%0D%0A%0D%0A%23Create+a+pointer+to+the+table+that+contains+the+data%0D%0AtempMatrix+%3C-+matrix%28c%28\" + msg.payload.CUSTOMER_ID + \"%2C\" + msg.payload.HOUSEHOLD_SIZE + \"%2C\" + msg.payload.MONTHLY_ENERGY_COST + \"%2C\" + msg.payload.DEVICE_ENERGY_RATING + \"%2C\" + msg.payload.NO_CUSTSERV_CALLS + \"%29%2C+ncol+%3D+5%2C+nrow+%3D+1%29%0D%0AlocalDF%3Ddata.frame%28tempMatrix%29%0D%0Anames%28localDF%29%3Dc%28%22CUSTOMER_ID%22%2C%22HOUSEHOLD_SIZE%22%2C%22MONTHLY_ENERGY_COST%22%2C%22DEVICE_ENERGY_RATING%22%2C%22NO_CUSTSERV_CALLS%22%29%0D%0AinDBDF%3Das.ida.data.frame%28localDF%2Ctable%3D%22TEMP_SCORING_TABLE%22%2Cclear.existing+%3D+TRUE%29%0D%0A%0D%0A%23Assign+a+model+name%0D%0AmodelName+%3C-+%22IOT_DECTREE%22%0D%0A%0D%0A%23Retrieve+a+copy+of+the+model%0D%0AtrCopy+%3C-+idaRetrieveModel%28modelName%29%0D%0A%0D%0A%23Make+predictions+based+on+the+model%0D%0AtrPred+%3C-+predict%28trCopy%2C+inDBDF%2C%22CUSTOMER_ID%22%29%0D%0A%0D%0A%23Display+the+first+few+predictions.%0D%0Ahead%28trPred%29%0D%0A%0D%0AidaClose%28mycon%29\"\nmsg.payload={\"rScript\":payloadstring}\nmsg.headers={\"content-type\":\"application/json\"}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":401.65496826171875,"y":141,"wires":[["e5a1149a.1a5ee8"]]},{"id":"e5a1149a.1a5ee8","type":"http request","z":"4599750e.ba668c","name":"DashDBRestCallToExecuteScoring","method":"POST","ret":"obj","url":"https://dashdb-entry-yp-dal09-07.services.dal.bluemix.net:8443/dashdb-api/rscript","x":708.6549682617188,"y":136,"wires":[["3bef825.fc4107e"]]},{"id":"3bef825.fc4107e","type":"function","z":"4599750e.ba668c","name":"ExtractScoringResults","func":"result = msg.payload.result.rScriptOutput;\nreturn {\"payload\":result}; ","outputs":1,"noerr":0,"x":1011.155029296875,"y":136,"wires":[["e96fe03a.16902"]]},{"id":"a7d90266.5827","type":"function","z":"4599750e.ba668c","name":"convertPayload","func":"var output = msg.payload.d.power;\nreturn {\"payload\":{\"CUSTOMER_ID\":msg.payload.d.power,\"HOUSEHOLD_SIZE\": msg.payload.d.power,\"MONTHLY_ENERGY_COST\":msg.payload.d.power,\"DEVICE_ENERGY_RATING\":msg.payload.d.power,\"NO_CUSTSERV_CALLS\":msg.payload.d.power}};","outputs":1,"noerr":0,"x":147.9517059326172,"y":134.4176025390625,"wires":[["747c31af.8b83d"]]},{"id":"739ad51a.8c652c","type":"function","z":"4599750e.ba668c","name":"SetupPayload","func":"msg.payload={\"rScript\":\"library%28ibmdbR%29%0D%0Alibrary%28rpart.plot%29%0D%0A%0D%0Amycon+%3C-+idaConnect%28%22BLUDB%22%2C+%22%22%2C%22%22%29%0D%0AidaInit%28mycon%29%0D%0A%0D%0A%23Create+a+pointer+to+the+table+that+contains+the+data%0D%0Aidf+%3C-+ida.data.frame%28%27MINING_IN%27%29%0D%0A%0D%0A%23Assign+a+model+name%0D%0A%23+Check+whether+the+model+already+exists+and%2C+if+so%2C+delete+it.%0D%0AmodelName+%3C-+%22IOT_DECTREE%22%0D%0A%0D%0Aif%28idaModelExists%28modelName%29%29+{%0D%0A%09idaDropModel%28modelName%29%3B%0D%0A}%0D%0A%0D%0A%23Build+a+classification+tree+model+using+an+in-database+analytics+function%0D%0Atr+%3C-+idaTree%28CHURNED+~+HOUSEHOLD_SIZE+%2B+MONTHLY_ENERGY_COST+%2B+DEVICE_ENERGY_RATING%2Cidf%2C%22CUSTOMER_ID%22%2Cmodelname%3DmodelName%29%0D%0A%0D%0A%23Plot+the+model%0D%0Ajpeg%28%22tree.jpg%22%2Cwidth%3D800%2Cheight%3D600%29%0D%0Aplot%28tr%29%0D%0AignoreResponse+%3C-+dev.off%28%29%0D%0A%0D%0A%23Make+predictions+based+on+the+model%0D%0AtrPred+%3C-+predict%28tr%2Cidf%2C%22CUSTOMER_ID%22%29%0D%0A%0D%0A%23Display+the+first+few+predictions.%0D%0Ahead%28trPred%29%0D%0A%0D%0A%23Retrieve+a+copy+of+the+model%0D%0A%23%28This+could+be+also+done+in+a+later+session%29%0D%0AtrCopy+%3C-+idaRetrieveModel%28modelName%29%0D%0Aprint%28trCopy%29%0D%0A%0D%0AidaClose%28mycon%29\"}\nmsg.headers={\"content-type\":\"application/json\"}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":585.0994262695312,"y":427.00006103515625,"wires":[["e20cd641.1df328"]]},{"id":"e20cd641.1df328","type":"http request","z":"4599750e.ba668c","name":"DashDBRestCallToExecuteRScript","method":"POST","ret":"txt","url":"https://dashdb-entry-yp-dal09-07.services.dal.bluemix.net:8443/dashdb-api/rscript","x":982.0994262695312,"y":425.00006103515625,"wires":[[]]},{"id":"dd43b4e4.22bc48","type":"function","z":"4599750e.ba668c","name":"extract location","func":"var LocLat=msg.payload.d.LocLat;\nvar LocLong=msg.payload.d.LocLong;\n\nreturn {\"payload\":{\"LocLat\":LocLat,\"LocLong\":LocLong}};","outputs":1,"noerr":0,"x":387.0993957519531,"y":291,"wires":[["48dbc2e0.b7243c"]]},{"id":"48dbc2e0.b7243c","type":"dashDB in","z":"4599750e.ba668c","service":"insuranceIOT-build-wprichar-1353-dashDB","query":"select *,db2gse.st_distance(db2gse.st_point(37.395664, -121.982145,1005), provider_location) as distance, db2gse.st_x(provider_location) as latitude,db2gse.st_y(provider_location) as longitude  from service_providers where db2gse.st_distance(db2gse.st_point(?,? ,1005), provider_location,'METER')>0;","params":"msg.payload.LocLat,msg.payload.LocLong","name":"DashDBQuery","x":763.0994262695312,"y":290,"wires":[[]]},{"id":"a2e66128.5d19a","type":"inject","z":"4599750e.ba668c","name":"Create dashDB tree","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246.09942626953125,"y":426.00006103515625,"wires":[["739ad51a.8c652c"]]},{"id":"e96fe03a.16902","type":"function","z":"4599750e.ba668c","name":"ConvertPayload","func":"temp = msg.payload;\ntemp = temp.search(\"TRUE\");\nif ( temp == -1 ){\n    temp = \"Not Likely\"\n}\nelse { temp = \"Likely\" }\nreturn {\"payload\":temp}; ","outputs":1,"noerr":0,"x":1236,"y":135,"wires":[[]]}]