back-end/defaults/flow.json
[{"id":"7078425c.829f5c","type":"websocket-listener","z":"b5449fc1.a08628","path":"/ServiceProviders","wholemsg":"false"},{"id":"6117cc37.392864","type":"ibmiot","z":"b5449fc1.a08628","name":"IOTKey"},{"id":"22c81090.4b9d98","type":"ibmiot in","z":"2afaa3b1.d94eb4","authentication":"apiKey","apiKey":"6117cc37.392864","inputType":"evt","deviceId":"insurance-01","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":89.60000610351562,"y":48,"wires":[["27de29f9.c9009e","62c7f714.d5d39"]]},{"id":"27de29f9.c9009e","type":"function","z":"2afaa3b1.d94eb4","name":"extract location","func":"var LocLat=msg.payload.d.LocLat;\nvar LocLong=msg.payload.d.LocLong;\n\nreturn {\"payload\":{\"LocLat\":LocLat,\"LocLong\":LocLong}};","outputs":1,"noerr":0,"x":271.60003662109375,"y":48,"wires":[["febdd81d.b209d","a66f3c05.6a8418"]]},{"id":"cd0d707a.74b468","type":"debug","z":"2afaa3b1.d94eb4","name":"","active":false,"console":"false","complete":"true","x":783.5999755859375,"y":48,"wires":[]},{"id":"febdd81d.b209d","type":"debug","z":"2afaa3b1.d94eb4","name":"","active":false,"console":"false","complete":"false","x":448.6000061035156,"y":148,"wires":[]},{"id":"a66f3c05.6a8418","type":"dashDB in","z":"2afaa3b1.d94eb4","service":"insuranceIOT-build-dashDB","query":"select *,db2gse.st_distance(db2gse.st_point(37.395664, -121.982145,1005), provider_location) as distance, db2gse.st_x(provider_location) as latitude,db2gse.st_y(provider_location) as longitude  from service_providers where db2gse.st_distance(db2gse.st_point(?, ?,1005), provider_location)<3;","params":"msg.payload.LocLat,msg.payload.LocLong","name":"DashDBQuery","x":488.6000061035156,"y":48,"wires":[["cd0d707a.74b468","2c298539.f07f5a"]]},{"id":"2c298539.f07f5a","type":"websocket out","z":"2afaa3b1.d94eb4","name":"ServiceProviderWebSocket","server":"7078425c.829f5c","client":"","x":818.6000061035156,"y":148,"wires":[]},{"id":"b3931c5d.089bb8","type":"inject","z":"2afaa3b1.d94eb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116.19999694824219,"y":342,"wires":[["337020ee.c076"]]},{"id":"337020ee.c076","type":"function","z":"2afaa3b1.d94eb4","name":"SetupPayload","func":"msg.payload={\"rScript\":\"library%28ibmdbR%29%0D%0Alibrary%28rpart.plot%29%0D%0A%0D%0Amycon+%3C-+idaConnect%28%22BLUDB%22%2C+%22%22%2C%22%22%29%0D%0AidaInit%28mycon%29%0D%0A%0D%0A%23Create+a+pointer+to+the+table+that+contains+the+data%0D%0Aidf+%3C-+ida.data.frame%28%27MINING_IN%27%29%0D%0A%0D%0A%23Assign+a+model+name%0D%0A%23+Check+whether+the+model+already+exists+and%2C+if+so%2C+delete+it.%0D%0AmodelName+%3C-+%22IOT_DECTREE%22%0D%0A%0D%0Aif%28idaModelExists%28modelName%29%29+{%0D%0A%09idaDropModel%28modelName%29%3B%0D%0A}%0D%0A%0D%0A%23Build+a+classification+tree+model+using+an+in-database+analytics+function%0D%0Atr+%3C-+idaTree%28CHURNED+~+HOUSEHOLD_SIZE+%2B+MONTHLY_ENERGY_COST+%2B+DEVICE_ENERGY_RATING%2Cidf%2C%22CUSTOMER_ID%22%2Cmodelname%3DmodelName%29%0D%0A%0D%0A%23Plot+the+model%0D%0Ajpeg%28%22tree.jpg%22%2Cwidth%3D800%2Cheight%3D600%29%0D%0Aplot%28tr%29%0D%0AignoreResponse+%3C-+dev.off%28%29%0D%0A%0D%0A%23Make+predictions+based+on+the+model%0D%0AtrPred+%3C-+predict%28tr%2Cidf%2C%22CUSTOMER_ID%22%29%0D%0A%0D%0A%23Display+the+first+few+predictions.%0D%0Ahead%28trPred%29%0D%0A%0D%0A%23Retrieve+a+copy+of+the+model%0D%0A%23%28This+could+be+also+done+in+a+later+session%29%0D%0AtrCopy+%3C-+idaRetrieveModel%28modelName%29%0D%0Aprint%28trCopy%29%0D%0A%0D%0AidaClose%28mycon%29\"}\nmsg.headers={\"content-type\":\"application/json\"}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":314.1999969482422,"y":389.0000305175781,"wires":[["b2661fb3.1d0a7"]]},{"id":"b2661fb3.1d0a7","type":"http request","z":"2afaa3b1.d94eb4","name":"DashDBRestCallToExecuteRScript","method":"POST","ret":"txt","url":"https://awh-yp-small03.services.dal.bluemix.net:8443/dashdb-api/rscript","x":563.2000122070312,"y":389.0000305175781,"wires":[["ba57760a.8f2f"]]},{"id":"ba57760a.8f2f","type":"debug","z":"2afaa3b1.d94eb4","name":"","active":true,"console":"false","complete":"false","x":808.2000122070312,"y":389.00001525878906,"wires":[]},{"id":"2ce7a650.1723ca","type":"inject","z":"2afaa3b1.d94eb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.19999694824219,"y":218.0000457763672,"wires":[["62c7f714.d5d39"]]},{"id":"62c7f714.d5d39","type":"function","z":"2afaa3b1.d94eb4","name":"SetupPayload","func":"msg.payload={\"rScript\":\"library%28ibmdbR%29%0D%0Alibrary%28rpart.plot%29%0D%0A%0D%0Amycon+%3C-+idaConnect%28%22BLUDB%22%2C+%22%22%2C%22%22%29%0D%0AidaInit%28mycon%29%0D%0A%0D%0A%23Create+a+pointer+to+the+table+that+contains+the+data%0D%0AtempMatrix+%3C-+matrix%28c%281%2C3%2C48%2C4%2C2%29%2C+ncol+%3D+5%2C+nrow+%3D+1%29%0D%0AlocalDF%3Ddata.frame%28tempMatrix%29%0D%0Anames%28localDF%29%3Dc%28%22CUSTOMER_ID%22%2C%22HOUSEHOLD_SIZE%22%2C%22MONTHLY_ENERGY_COST%22%2C%22DEVICE_ENERGY_RATING%22%2C%22NO_CUSTSERV_CALLS%22%29%0D%0AinDBDF%3Das.ida.data.frame%28localDF%2Ctable%3D%22TEMP_SCORING_TABLE%22%2Cclear.existing+%3D+TRUE%29%0D%0A%0D%0A%23Assign+a+model+name%0D%0AmodelName+%3C-+%22IOT_DECTREE%22%0D%0A%0D%0A%23Retrieve+a+copy+of+the+model%0D%0AtrCopy+%3C-+idaRetrieveModel%28modelName%29%0D%0A%0D%0A%23Make+predictions+based+on+the+model%0D%0AtrPred+%3C-+predict%28trCopy%2C+inDBDF%2C%22CUSTOMER_ID%22%29%0D%0A%0D%0A%23Display+the+first+few+predictions.%0D%0Ahead%28trPred%29%0D%0A%0D%0AidaClose%28mycon%29\"}\nmsg.headers={\"content-type\":\"application/json\"}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":160.7555389404297,"y":133.99998474121094,"wires":[["53c5e4e8.141024"]]},{"id":"53c5e4e8.141024","type":"http request","z":"2afaa3b1.d94eb4","name":"DashDBRestCallToExecuteScoring","method":"POST","ret":"obj","url":"https://awh-yp-small03.services.dal.bluemix.net:8443/dashdb-api/rscript","x":396.75555419921875,"y":226.99998474121094,"wires":[["17093dbb.5b9a12","97d986e2.d1b158"]]},{"id":"47d2f0e.fad5c9","type":"debug","z":"2afaa3b1.d94eb4","name":"","active":true,"console":"false","complete":"false","x":850.7555541992188,"y":225.99998474121094,"wires":[]},{"id":"17093dbb.5b9a12","type":"function","z":"2afaa3b1.d94eb4","name":"ExtractScoringResults","func":"result = msg.payload.result.rScriptOutput;\nreturn {\"payload\":result}; ","outputs":1,"noerr":0,"x":661.2555541992188,"y":226.99998474121094,"wires":[["47d2f0e.fad5c9"]]},{"id":"97d986e2.d1b158","type":"debug","z":"2afaa3b1.d94eb4","name":"","active":false,"console":"false","complete":"false","x":647.4999847412109,"y":301.7999572753906,"wires":[]}]