back-end/defaults/flow.json
[
  {
    "id":"a04b2ea6.5fb4d",
    "type":"http in",
    "z":"8bba6ec0.74459",
    "name":"HTTPGetRequest",
    "url":"/test",
    "method":"get",
    "swaggerDoc":"",
    "x":100,
    "y":360,
    "wires":[
      [
        "5ea07d7f.a15f84",
        "bc65bbd8.439a48"
      ]
    ]
  },
  {
    "id":"cd98e892.326718",
    "type":"template",
    "z":"8bba6ec0.74459",
    "name":"HTTPPresentResponse",
    "field":"payload",
    "fieldType":"msg",
    "format":"handlebars",
    "template":"<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>Recommended Service Providers</title>\n    <style>\n      html, body, #map-canvas {\n        height: 80%;\n        width:80%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(37.349691000239545,-121.977338999795);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n            var table = document.getElementById('tblServiceProviders');\n            for (var r = 1, n = table.rows.length; r < n; r++) {\n                var lat_values=table.rows[r].cells[table.rows[r].cells.length-1].innerHTML;\n                var long_values=table.rows[r].cells[table.rows[r].cells.length-2].innerHTML;\n                var marker = new google.maps.Marker({\n    \t\t\t    position: new google.maps.LatLng(long_values,lat_values),\n    \t\t\t    map: map,\n    \t\t\t    animation: google.maps.Animation.DROP,\n    \t\t\t    title: 'Service Provider'\n    \t\t\t  });\n                //alert('Latitude=' + lat_values + ', Longitude=' + long_values);\n            }\n\n\t\t}\n\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n\n                <table border='1' id='tblServiceProviders' name='tblServiceProviders'>\n                    <thead><tr><th>ID</th><th>Name</th><th>Distance</th><th>Latitude</th><th>Longitude</th></tr></thead>\n                {{#payload}}\n                  <tr><td>{{PROVIDER_ID}}</td><td>{{PROVIDER_NAME}}</td><td><b>{{DISTANCE}}</b></td><td>{{LATITUDE}}</td><td>{{LONGITUDE}}</td></tr>\n                {{/payload}}\n                </table> \n                <div id=\"map-canvas\"></div>\n  </body>\n</html>\n",
    "x":730,
    "y":360,
    "wires":[
      [
        "1938de1e.e6c722"
      ]
    ]
  },
  {
    "id":"1938de1e.e6c722",
    "type":"http response",
    "z":"8bba6ec0.74459",
    "name":"HTTPResponse",
    "x":960,
    "y":260,
    "wires":[

    ]
  },
  {
    "id":"5ea07d7f.a15f84",
    "type":"dashDB in",
    "z":"8bba6ec0.74459",
    "service":"dashDB-px",
    "query":"select *,db2gse.st_distance(db2gse.st_point(37.395664, -121.982145,1005), provider_location,'MILE') as distance, db2gse.st_x(provider_location) as latitude,db2gse.st_y(provider_location) as longitude  from service_providers where db2gse.st_distance(db2gse.st_point(37.395664, -121.982145,1005), provider_location,'MILE')<?;",
    "params":"msg.req.query.range",
    "name":"queryServiceProviders",
    "x":420,
    "y":260,
    "wires":[
      [
        "cd98e892.326718",
        "c6ca81db.39358"
      ]
    ]
  },
  {
    "id":"c6ca81db.39358",
    "type":"debug",
    "z":"8bba6ec0.74459",
    "name":"",
    "active":false,
    "console":"false",
    "complete":"payload",
    "x":700,
    "y":160,
    "wires":[

    ]
  },
  {
    "id":"e3d5db65.1c2a28",
    "type":"inject",
    "z":"8bba6ec0.74459",
    "name":"",
    "topic":"",
    "payload":"",
    "payloadType":"date",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":120,
    "y":180,
    "wires":[
      [
        "5ea07d7f.a15f84"
      ]
    ]
  },
  {
    "id":"bc65bbd8.439a48",
    "type":"debug",
    "z":"8bba6ec0.74459",
    "name":"",
    "active":true,
    "console":"false",
    "complete":"false",
    "x":400,
    "y":400,
    "wires":[

    ]
  }
]